.dataTables_wrapper {
  position: relative;
  clear: both;
  width: 100%;
}

.scoll {
  overflow-y: scroll;
  overflow-x: hidden;
}
/* body {
  font-family: courir;
} */
.colorTr {
  background-color: cadetblue !important;
  color: white !important;
}

.colorTe {
  background-color: darksalmon !important;
  color: white !important;
}

table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3,
table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: transparent !important;
}
