       
       <option value="">CHOIX DOSSIER </option>
        
        {% for info in PDossier %}
            <option value="{{info.id}}">
                {{info.Dossier}}
            </option>
        {% endfor %}

													
													
															
														
													