       
        <option value="">CHOIX SOUS DOSSIER</option>
        
        {% for info in sousDossier %}
            <option value="{{info.id}}">
                {{info.description}}
            </option>
        {% endfor %} 

        

													
													
															
														
													